<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- Console Config -->
    <appender name="SYS.OUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>
                %-8([%thread]) - %-25(%d{dd.MM.yyyy HH:mm:ss}) %n%highlight(%-5level) %cyan(%logger{5})[ln.%line] %n-> %msg %n%n
            </pattern>
        </encoder>
    </appender>

    <appender name="HTML" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}log.html</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS}%thread%level%logger{5}%method%line%msg</pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.path}%d{yyyy-MM-dd}/error.%i.txt.zip</fileNamePattern>
            <!-- each file should be at most 50MB, keep 30 days worth of history, but at most 2GB -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
    </appender>

    <appender name="StatConsole" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>
                %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name="StatFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}stats.txt</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.path}%d{yyyy-MM-dd}/stats_%i.txt.zip</fileNamePattern>
            <!-- each file should be at most 50MB -->
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <append>true</append>
    </appender>

    <!-- put all packages of non interesting output here -->
    <logger name="net.dv8tion.jda" level="warn" />
    <logger name="org.hibernate" level="error"/>
    <logger name="com.sedmelluq" level="error"/>


    <logger name="statsConsole" level="INFO"  additivity="false">
        <appender-ref ref="StatConsole" />
    </logger>
    <logger name="statsFile" level="INFO"  additivity="false">
        <appender-ref ref="StatFile" />
    </logger>

    <root level="Debug">
        <appender-ref ref="SYS.OUT" />
        <appender-ref ref="HTML" />
    </root>
</configuration>